<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

    <a href="#" data-toggle="tooltip" data-placement="top" title="IP:192.168.22.13;number of connected device"><img src="https://cdn1.iconfinder.com/data/icons/pixel-perfect-at-16px-volume-1/16/1026-512.png"
    class="img-responsive" alt="Cinque Terre" width="200" height="200"></a>
</div>
</div>
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">

  <a href="#" data-toggle="tooltip" data-placement="top" title="IP:192.168.22.13;number of connected device"><img src="https://cdn1.iconfinder.com/data/icons/pixel-perfect-at-16px-volume-1/16/1026-512.png"
  class="img-responsive" alt="Cinque Terre" width="200" height="200"></a>
</div>
</div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

    <a href="#" data-toggle="tooltip" data-placement="top" title="IP:192.168.22.13;number of connected device"><img src="https://cdn1.iconfinder.com/data/icons/pixel-perfect-at-16px-volume-1/16/1026-512.png"
    class="img-responsive" alt="Cinque Terre" width="200" height="200"></a>
</div>
</div>
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">

  <a href="#" data-toggle="tooltip" data-placement="top" title="IP:192.168.22.13;number of connected device" data-content="hello thi s going on"><img src="https://cdn1.iconfinder.com/data/icons/pixel-perfect-at-16px-volume-1/16/1026-512.png"
  class="img-responsive" alt="Cinque Terre" width="200" height="200"></a>
  </div>
</div>
</div>
